name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.24.0'

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Accept Android Licenses
      run: |
        yes | flutter doctor --android-licenses

    # CORREÇÃO AQUI: Removido o argumento que dava erro. 
    # O Flet vai ler o requirements.txt sozinho.
    - name: Build APK
      run: |
        flet build apk --verbose

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-producao-apk
        path: build/apk/*.apk
